<aside class="right-side">
    <section class="content">


        <!-- Main row -->
        <div class="row">
            <div class="col-md-7">
                <section class="panel">
                    <header class="panel-heading">
                        <h1>Project 21</h1>
                        <h1>Category: Plumbing</h1>
                        <h3>Description</h3>
                        <h3>BudgetAmount</h3>
                        <h3>ActualAmount</h3>
                        <h3>Percentage Completed</h3>
                        <h3>Variance Amount</h3>
                    </header>
                    <header class="panel-heading">
                        Sub Categories
                    </header>
                    <div class="panel-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Sub Category</th>
                                    <th>Budget</th>
                                    <th>Deadline</th>
                                    <th>Status</th>
                                    <th>Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Rough In</td>
                                    <td>$20,000</td>
                                    <td>10/10/2014</td>
                                    <td><span class="label label-danger">in progress</span></td>
                                    <td><span class="badge badge-info">50%</span></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Faucet</td>
                                    <td>$2,500</td>
                                    <td>10/8/2014</td>
                                    <td><span class="label label-success">completed</span></td>
                                    <td><span class="badge badge-success">100%</span></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sink</td>
                                    <td>$100,000</td>
                                    <td>10/12/2014</td>
                                    <td><span class="label label-warning">in progress</span></td>
                                    <td><span class="badge badge-warning">75%</span></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Bathtub</td>
                                    <td>$56,320</td>
                                    <td>10/01/2015</td>
                                    <td><span class="label label-info">in progress</span></td>
                                    <td><span class="badge badge-info">65%</span></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Shower</td>
                                    <td>$1000</td>
                                    <td>01/11/2014</td>
                                    <td><span class="label label-warning">in progress</span></td>
                                    <td><span class="badge badge-danger">95%</span></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Toilet</td>
                                    <td>$575</td>
                                    <td>01/11/2014</td>
                                    <td><span class="label label-info">in progress</span></td>
                                    <td><span class="badge badge-success">95%</span></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Bathroom Trim Set</td>
                                    <td>$230</td>
                                    <td>01/11/2014</td>
                                    <td><span class="label label-info">in progress</span></td>
                                    <td><span class="badge badge-success">95%</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div><!--end project list -->

            <div class="col-md-5">
                <section class="panel">
                    <header class="panel-heading">
                        Quotes
                    </header>
                    <div class="panel-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Quote#</th>
                                    <th>Part#</th>
                                    <th>Part Desc</th>
                                    <th>Category</th>
                                    <th>SubCategory</th>
                                    <th>Area</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>12345</td>
                                    <td>320</td>
                                    <td>Chrome Tap</td>
                                    <td>Plumbing</td>
                                    <td>Sink</td>
                                    <td>Kitchen</td>
                                    <td>$300.00</td>
                                </tr>
                                <tr>
                                    <td>12346</td>
                                    <td>322</td>
                                    <td>Glass Sink</td>
                                    <td>Plumbing</td>
                                    <td>Sink</td>
                                    <td>Kitchen</td>
                                    <td>$400.00</td>
                                </tr>
                                <tr>
                                    <td>13457</td>
                                    <td>325</td>
                                    <td>Gold Toilet</td>
                                    <td>Plumbing</td>
                                    <td>Toilet</td>
                                    <td>Bathroom</td>
                                    <td>$1.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


            </div>
    </section>
    </div>


    </div><!-- end main row -->
    </section><!-- /.content -->
</aside><!-- /.right-side -->