<aside class="right-side">
    <section class="content">
    <h1>PROJECTS</h1>
        <div class="row" style="margin-bottom:5px;">
            <div class="col-md-4">
                <div class="sm-st clearfix">
                    <span class="sm-st-icon st-violet"><i class="fa fa-folder-open"></i></span>
                    <div class="sm-st-info">
                        <span>{{allProjects.length}}</span>
                        Number of Projects
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="sm-st clearfix">
                    <span class="sm-st-icon st-green" data-toggle="modal" data-target="#projectModal"><i class="fa fa-plus"></i></span>
                    <div class="sm-st-info">
                        <span>Add A Project</span>
                    </div>
                </div>
            </div>
            <div ng-include="'views/projectsModal.html'"></div>

        </div>

        <!-- Main row -->
        <div class="row">
            <div class="col-md-8">

                    <div class="panel-group container" id="accordion" ng-controller="projectsController" style="padding-left:0; padding-right:0; margin: 0 auto; width: 100%">
                        <div class="panel panel-default" ng-repeat="p in allProjects">
                            <div id="project-{{p.ProjectId}}" class="project">
                            <!-- Start of 1 Project -->
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                                        <h4 class="panel-title">
                                          <span ng-hide="editorEnabled == p.ProjectId">{{p.ProjectName}}</span>
                                          <input type="text" ng-model="p.ProjectName" ng-show="editorEnabled == p.ProjectId" style="color: black;" />
                                          <span class="pull-right hidden-md hidden-lg"><i class="fa fa-pencil-square"></i></span>
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="col-md-7">
                                            <p class="project-description" ng-hide="editorEnabled == p.ProjectId">{{p.Description}}</p>
                                            <input type="text" ng-model="p.Description" ng-show="editorEnabled == p.ProjectId" />
                                        </div>
                                        <div class="col-md-2 col-md-offset-1 col-xs-6">
                                            <dl>
                                                <dt>ProjectStartDate</dt>
                                                <dd class="dateStr" ng-hide="editorEnabled == p.ProjectId">{{p.ProjectedStartDate}}</dd>
                                                <p class="input-group date-picker" ng-show="editorEnabled == p.ProjectId">
                                                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="p.ProjectedStartDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" popup-placement="top" />
                                                  <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                  </span>
                                                </p>
                                                <dt>ActualStartDate</dt>
                                                <dd class="dateStr" ng-hide="editorEnabled == p.ProjectId">{{p.ActualStartDate}}</dd>
                                                <p class="input-group date-picker" ng-show="editorEnabled == p.ProjectId">
                                                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="p.ActualStartDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" popup-placement="top" />
                                                  <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                  </span>
                                                </p>
                                            </dl>
                                        </div>
                                        <div class="col-md-2 col-xs-6">
                                            <dl>
                                                <dt>ProjectFinishedDate</dt>
                                                <dd class="dateStr" ng-hide="editorEnabled == p.ProjectId">{{p.ProjectedFinishDate}}</dd>
                                                <p class="input-group date-picker" ng-show="editorEnabled == p.ProjectId">
                                                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="p.ProjectedFinishDate" is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" popup-placement="top" />
                                                  <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                  </span>
                                                </p>
                                                <dt>ActualFinishedDate</dt>
                                                <dd class="dateStr" ng-hide="editorEnabled == p.ProjectId">{{p.ActualFinishDate}}</dd>
                                                <p class="input-group date-picker" ng-show="editorEnabled == p.ProjectId">
                                                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="p.ActualFinishDate" is-open="popup4.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" popup-placement="top" />
                                                  <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open4()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                  </span>
                                                </p>
                                            </dl>
                                        </div>
                                        <span class="pull-right hidden-xs hidden-sm btn btn-default project-btn" data-id="{{p.ProjectId}}" ng-hide="editorEnabled == p.ProjectId" ng-click="enableEditor(p.ProjectId)"><i class="fa fa-pencil-square fa-4x"></i></span>
                                        <span class="pull-right hidden-xs hidden-sm btn btn-default project-btn" data-id="{{p.ProjectId}}" ng-show="editorEnabled == p.ProjectId" ng-click="save()"><i class="fa fa-floppy-o fa-4x"></i></span>
                                    </div>
                                </div>
                            </div><!-- End of 1 Project -->
                        </div>
                      </div>

            </div><!--end project list -->

        </div><!-- end main row -->


    </section><!-- /.content -->
</aside><!-- /.right-side -->
