<aside class="right-side" style="margin-right: 20px">
    <section class="content">
    <h1>QUOTES</h1>
        <div class="row" style="margin-bottom:5px;">
            <div class="col-md-4">
                <div class="sm-st clearfix">
                    <span class="sm-st-icon st-red"><i class="fa fa-check-square-o"></i></span>
                    <div class="sm-st-info">
                        <span>2</span>
                        Number of Quotes
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="sm-st clearfix">
                    <span class="sm-st-icon st-green"><i class="fa fa-plus"></i></span>
                    <div class="sm-st-info">
                        <span>Add A Quote</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main row -->
        <div class="row col-md-8">
        <div class="panel-group" id="accordion" style="padding-left:0; padding-right:0; margin: 0 auto; width: 100%">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
                  <h4 class="panel-title">
                    Quote #222
                  <span class="pull-right hidden-md hidden-lg"><i class="fa fa-pencil-square"></i></span>
                  </h4>
                </a>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-7 col-xs-7">
                      <dl>
                        <dt>Supplier</dt>
                        <dd>John's Plumbing</dd>
                        <dt>AddressStreet</dt>
                        <dd>123 Main Street</dd>
                        <dt>AddressCity</dt>
                        <dd>Surrey</dd>
                        <dt>AddressProvince</dt>
                        <dd>British Columbia</dd>
                        <dt>AddressPostalCode</dt>
                        <dd>V3L 3M3</dd>
                        <dt>AddressCountry</dt>
                        <dd>Canada</dd>
                      </dl>
                    </div>

                    <div class="col-md-5 col-xs-5">
                      <dl>
                        <dt>Date</dt>
                        <dd>0001-01-01</dd>
                        <dt>StartDate</dt>
                        <dd>2016-03-20</dd>
                        <dt>ExpiryDate</dt>
                        <dd>2016-01-31</dd>
                      </dl>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-7 col-xs-12">
                      <dl>
                        <dt>Notes:</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure iste hic aut accusantium, molestias fugiat voluptatum quibusdam nulla quod commodi qui nihil cupiditate non beatae recusandae consequuntur! Sit delectus, amet odio, assumenda tempora minus commodi veniam atque rem nesciunt deleniti unde nostrum! Laboriosam asperiores eaque quis officia, dolores quidem nam. Doloribus, suscipit ad error delectus! Sequi culpa rerum excepturi odit nobis beatae cum similique ut quas necessitatibus deserunt aperiam consequatur quidem autem veritatis expedita cupiditate mollitia, explicabo. Ratione in incidunt natus ad delectus adipisci labore tempora explicabo dignissimos. In qui, deserunt maxime veritatis molestias dolor eius error quas. Maiores, ut!</dd>
                      </dl>
                    </div>
                    <div class="col-md-5 col-xs-12">
                      <dl>
                        <dt>ReferredBy:</dt>
                        <dd>Billy</dd>
                        <dt>PercentDiscount:</dt>
                        <dd>5%</dd>
                      </dl>
                      <div class="checkbox">
                        <label><input type="checkbox" value="" checked>Accepted</label>
                      </div>

                      <span class="pull-right hidden-xs hidden-sm btn btn-default"><i class="fa fa-pencil-square fa-4x"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->
