<aside class="right-side">
    <section class="content">
    <h1>QUOTES</h1>
        <div class="row" style="margin-bottom:5px;">
            <div class="col-md-3">
                <div class="sm-st clearfix">
                    <span class="sm-st-icon st-red"><i class="fa fa-check-square-o"></i></span>
                    <div class="sm-st-info">
                        <span>2</span>
                        Number of Quotes
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="sm-st clearfix">
                    <span class="sm-st-icon st-violet"><i class="fa fa-paperclip"></i></span>
                    <div class="sm-st-info">
                        <span>Edit a Quote</span>
                        Most Recent Quote
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sm-st clearfix">
                    <span class="sm-st-icon st-green"><i class="fa fa-plus"></i></span>
                    <div class="sm-st-info">
                        <span>Add A Quote</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        Quotes
                    </header>
                    <div class="panel-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Quote</th>
                                    <th>Supplier</th>
                                    <th>Date</th>
                                    <th>Start Date</th>
                                    <th>Contact</th>
                                    <th>Phone</th>
                                    <th>Referred</th>
                                    <th>Address</th>
                                    <th>Expiry</th>
                                    <th>Discount</th>
                                    <th>Acceptance</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>12345</td>
                                    <td>John's Plumbing</td>
                                    <td>January 15, 2016</td>
                                    <td>March 20, 2016</td>
                                    <td>John Smith</td>
                                    <td>(604) 555-5254</td>
                                    <td>Billy</td>
                                    <td>123 Main Street, Surrey BC, V3L 3M3</td>
                                    <td>January 31, 2016</td>
                                    <td>5%</td>
                                    <td></td>
                                    <td><a href="#/quotes-details"><span class="label label-info">Edit</span></a></td>
                                </tr>
                                <tr>
                                    <td>67891</td>
                                    <td>Gassy Works</td>
                                    <td>January 30, 2016</td>
                                    <td>April 1, 2016</td>
                                    <td>Gas Doe</td>
                                    <td>(604) 555-5254</td>
                                    <td>Bob</td>
                                    <td>123 Main Street, Surrey BC, V3L 3M3</td>
                                    <td>January 31, 2016</td>
                                    <td>15%</td>
                                    <td></td>
                                    <td><a href="#/quotes-details"><span class="label label-info">Edit</span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div><!--end quotes list -->
        </div><!-- end main row -->
    </section><!-- /.content -->
</aside><!-- /.right-side -->
