<aside class="right-side">
    <section class="content">
        <h1>Quotes Details</h1>
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        Detail
                    </header>
                    <div class="panel-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Quote</th>
                                    <th>Part ID</th>
                                    <th>Description</th>
                                    <th>Category</th>
                                    <th>Subcategory</th>
                                    <th>Area</th>
                                    <th>Unit Price</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>12345</td>
                                    <td>32542</td>
                                    <td>Chrome Tap</td>
                                    <td>170</td>
                                    <td>20</td>
                                    <td>2</td>
                                    <td>200.00</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>12345</td>
                                    <td>62584</td>
                                    <td>Glass Sink</td>
                                    <td>170</td>
                                    <td>30</td>
                                    <td>2</td>
                                    <td>300.00</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>12345</td>
                                    <td>3D134</td>
                                    <td>Sink Stopper</td>
                                    <td>170</td>
                                    <td>30</td>
                                    <td>2</td>
                                    <td>75.00</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div><!--end project list -->
