<!-- Main content -->
<aside class="right-side">
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <div class="col-md-7">
                <section class="panel">
                    <header class="panel-heading">
                        <h1>Sub Category: Toilet</h1>
                    </header>
                    <header class="panel-heading">
                        Details
                    </header>
                    <div class="panel-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sub Category Id</th>
                                    <th>Sub Category Name</th>
                                    <th>Description</th>
                                    <th>Category Id</th>
                                    <th>Percentage Completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>60</td>
                                    <td>Toilet</td>
                                    <td>
                                        A beautiful porcelain toilet with a golden seat. Has a hands free flush system
                                        and a see through tank.
                                    </td>
                                    <td>170</td>
                                    <td><span class="badge badge-info">50%</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>

            </div><!--end project list -->
            <div class="col-md-5">
                <section class="panel">
                    <header class="panel-heading">
                        Quotes
                    </header>
                    <div class="panel-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Quote#</th>
                                    <th>Part#</th>
                                    <th>Part Desc</th>
                                    <th>Category</th>
                                    <th>SubCategory</th>
                                    <th>Area</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>12345</td>
                                    <td>320</td>
                                    <td>Chrome Tap</td>
                                    <td>Plumbing</td>
                                    <td>Sink</td>
                                    <td>Kitchen</td>
                                    <td>$300.00</td>
                                </tr>
                                <tr>
                                    <td>12346</td>
                                    <td>322</td>
                                    <td>Glass Sink</td>
                                    <td>Plumbing</td>
                                    <td>Sink</td>
                                    <td>Kitchen</td>
                                    <td>$400.00</td>
                                </tr>
                                <tr>
                                    <td>13457</td>
                                    <td>325</td>
                                    <td>Sink Stopper</td>
                                    <td>Plumbing</td>
                                    <td>Sink</td>
                                    <td>Kitchen</td>
                                    <td>$75.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


            </div>



            <div class="col-md-5">
                <section class="panel">
                    <header class="panel-heading">
                        Budget/Cost
                    </header>
                    <div class="panel-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Budget Amount</th>
                                    <th>Actual Amount</th>
                                    <th>Variance Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>$300</td>
                                    <td>$295</td>
                                    <td>$5</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </section>

            </div>


    </section>



    </div>
    </div><!-- end main row -->
    </section><!-- /.content -->
</aside><!-- /.right-side -->