<aside class="right-side" ng-controller="singleProjectController">
    <section class="content">
        <h1>{{project.ProjectName}}</h1>
        <h3 class="text-muted">{{project.Description}}</h3>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-6"><b>ProjectedStartDate</b></div>
                <div class="col-md-6">{{ProjectedStartDate}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6"><b>ProjectedFinishDate</b></div>
                <div class="col-md-6">{{ProjectedFinishDate}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6"><b>ActualStartDate</b></div>
                <div class="col-md-6">{{ActualStartDate}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6"><b>ActualFinishDate</b></div>
                <div class="col-md-6">{{ActualFinishDate}}</div>
            </div>
        </div><!-- dates -->
        <hr>
        <div ng-include="'views/areas/areasModal.html'"></div>
        <div class="col-md-12">
          <div class="text-center btn-success add-modal" data-toggle="modal" data-target="#areaModal">
            <h5<i class="fa fa-plus"></i> Area</h5>
          </div>
        </div>
        <div ng-include="'views/categories/categoriesModal.html'"></div>
        <div class="col-md-6 main-category">
            <h4 class="text-center notification-icon accordian-header" data-toggle="collapse" data-target="#maincategory">
              <span class="badge text">{{Categories.length}}</span>
              Main Category &nbsp;
            </h4>

            <div id="maincategory" class="collapse">
              <div class="text-center btn-success add-modal" data-toggle="modal" data-target="#categoryModal">
                <h5<i class="fa fa-plus"></i> Main Category</h5>
              </div>
                <div class="main-category-child" ng-repeat="c in Categories">
                <div ng-include="'views/subcategories/subCategoriesModal.html'"></div>
                <!-- Start of 1 Project -->
                    <div class="panel-heading nth-1" data-toggle="collapse" data-parent="#accordion" data-target="#{{c.CategoryId}}">
                        <h4 class="panel-title">
                          <span>{{c.CategoryName}}</span>
                          <span class="pull-right btn btn-success" data-toggle="modal" data-target="#subCategoriesModal{{c.CategoryId}}"><i class="fa fa-plus"> Subcategory</i></span>
                          <br><br>
                        </h4>
                    </div>
                    <div id="{{c.CategoryId}}" class="panel-collapse collapse">
                        <div class="panel-body" style="word-wrap: break-word;">
                            <dl>
                                <dt>Category Name:</dt>
                                <dd>{{c.CategoryName}}</dd>
                                <dt>Description:</dt>
                                <dd>{{c.Description}}</dd>
                                <dt>Budget Amount:</dt>
                                <dd>{{c.BudgetAmount}}</dd>
                                <dt>Actual Amount:</dt>
                                <dd>{{c.ActualAmount}}</dd>
                                <dt>Percentage Complete:</dt>
                                <dd>{{c.PercentCompleted}}</dd>
                                <dt>Variance Amount:</dt>
                                <dd>{{c.VarianceAmount}}</dd>
                                <dt>Subcategories</dt>
                                <div ng-repeat="s in c.SubCategories">
                                  <dd>{{s.SubCategoryName}}</dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div><!-- End of 1 Main Category -->
            </div>
        </div>
        <div class="col-md-6">
            <h4 class="text-center  notification-icon accordian-header"  data-toggle="collapse" data-target="#subcategory">
              <span class="badge text">{{SubCategories.length}}</span>
              Subcategory
            </h4>
            <div id="subcategory" class="collapse">
            <div class="main-category-child" ng-repeat="s in SubCategories">
            <!-- Start of 2 Project -->
                <a href="javascript:void(0)">
                    <div class="panel-heading nth-1" data-toggle="collapse" data-parent="#accordion" data-target="#{{s.CategoryId}}{{$index + 1}}">
                        <h4 class="panel-title">
                          <span>SubCategories for {{s.CategoryName}}</span>
                          <!-- <span class="pull-right btn btn-success">Add Sub Cat</span> -->
                          <br><br>
                        </h4>
                    </div>
                </a>
                <div id="{{s.CategoryId}}{{$index + 1}}" class="panel-collapse collapse">
                  <div class="text-center btn-success add-modal" data-toggle="modal" data-target="#quotesModal{{s.CategoryId}}{{$index + 1}}">
                    <h5<i class="fa fa-plus"></i> Quote</h5>
                  </div>
                    <div class="panel-body" style="word-wrap: break-word;">
                        <dl>
                            <dt>Sub Category Name:</dt>
                            <div ng-repeat="sub in s.SubCategories">
                              <div ng-include="'views/quotes/quotesModal.html'"></div>
                              <dd>{{sub.SubCategoryName}} ... {{sub.SubCategoryId}}</dd>
                            </div>
                            <!-- <dt>Description:</dt>
                            <dd></dd>
                            <dt>Budget Amount:</dt>
                            <dd></dd>
                            <dt>Actual Amount:</dt>
                            <dd></dd>
                            <dt>Percentage Complete:</dt>
                            <dd></dd>
                            <dt>Variance Amount:</dt>
                            <dd></dd> -->
                        </dl>
                    </div>
                </div>
            </div><!-- End of 2 Main Category -->
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-6">

            <h4  class="text-center  notification-icon accordian-header"  data-toggle="collapse" data-target="#quotedetails">
              <span class="badge text">{{QuoteDetails.length}}</span>
              Quotes
            </h4>

            <div id="quotedetails" class="collapse">
                <div ng-repeat="q in QuoteDetails">
                    <div class="panel-heading nth-1" data-toggle="collapse" data-parent="#accordion" data-target="#quoteheader{{q.QuoteHeaderId}}">
                        <h4 class="panel-title">
                          QuoteHeader#{{q.QuoteHeaderId}} - {{q.QuoteHeader.Supplier}}
                          <br><br>
                        </h4>
                    </div>
                    <div id="quoteheader{{q.QuoteHeaderId}}" class="panel-collapse collapse">
                      <div ng-include="'views/quotes/quoteDetailsModal.html'"></div>
                      <div class="text-center btn-success add-modal" data-toggle="modal" data-target="#quoteDetailsModal{{q.QuoteHeaderId}}">
                        <h5<i class="fa fa-plus"></i> Item</h5>
                      </div>
                      <div>
                        <p>{{q.CategoryName}}({{q.CategoryId}})>{{q.SubCategoryName}}({{q.SubCategoryId}})</p>
                        <dl  class="col-md-6">
                            <dt>Street:</dt>
                            <dd>{{q.QuoteHeader.AddressStreet}}</dd>
                            <dt>City:</dt>
                            <dd>{{q.QuoteHeader.AddressCity}}</dd>
                            <dt>Province:</dt>
                            <dd>{{q.QuoteHeader.AddressProvince}}</dd>
                            <dt>Postal Code:</dt>
                            <dd>{{q.QuoteHeader.AddressPostalCode}}</dd>
                            <dt>Country:</dt>
                            <dd>{{q.QuoteHeader.AddressCountry}}</dd>
                        </dl>
                        <dl  class="col-md-6">
                            <dt>Contact Name:</dt>
                            <dd>{{q.QuoteHeader.ContactName}}</dd>
                            <dt>Phone Number:</dt>
                            <dd>{{q.QuoteHeader.PhoneNumber}}</dd>
                            <dt>Discount:</dt>
                            <dd>{{q.QuoteHeader.PercentDiscount}}%</dd>
                            <dt>Notes:</dt>
                            <dd>{{q.QuoteHeader.Notes}}</dd>
                            <dt>Accepted:</dt>
                            <dd>{{q.QuoteHeader.IsAccept}}</dd>
                        </dl>

                      </div>
                        <table class="table">
                          <tr>
                              <th>PartId</th>
                              <th>Description</th>
                              <th>Subcategory Name</th>
                              <th>Unit Price</th>
                              <th>Quantity</th>
                              <th>Area Room</th>
                          </tr>
                          <tr ng-repeat="qd in q.QuoteDetails">
                            <td>{{qd.PartId}}</td>
                            <td> {{qd.PartDescription}}</td>
                            <td>{{qd.SubCategoryName}}</td>
                            <td>${{qd.UnitPrice}}</td>
                            <td>x{{qd.Quantity}}</td>
                            <td>{{qd.AreaRoom}}</td>
                          </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <h4 class="text-center  notification-icon accordian-header" data-toggle="collapse" data-target="#invoices">
                <span class="badge text">{{invoices.length}}</span>
                Invoices
            </h4>
            <div id="invoices" class="collapse">

                <div ng-repeat="i in invoices">
                    <h3>QuoteHeaderId {{i.InvoiceId}}</h3>
                    <table class="table">
                        <tr>
                            <th>LineNumber</th>
                            <th>PartNumber</th>
                            <th>PartDescription</th>
                            <th>CategoryId</th>
                            <th>SubCategoryId</th>
                            <th>AreaId</th>
                            <th>Unit Price</th>
                            <th>Notes</th>
                        </tr>

                        <tr ng-repeat="ins in i.invoices">
                            <td>{{ins.LineNumber}}</td>
                            <td> {{ins.PartNumber}}</td>
                            <td>{{ins.PartDescription}}</td>
                            <td>{{ins.CategoryId}}</td>
                            <td>{{ins.SubCategoryId}}</td>
                            <td>{{ins.AreaId}}</td>
                            <td>{{ins.UnitPrice}}</td>
                            <td>{{ins.Notes}}</td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </section><!-- /.content -->
</aside><!-- /.right-side -->
