<aside class="right-side" ng-controller="singleProjectController">
    <section class="content">
        <h1>{{project.ProjectName}}</h1>
        <h3 class="text-muted">{{project.Description}}</h3>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-6"><b>ProjectedStartDate</b></div>
                <div class="col-md-6">{{ProjectedStartDate}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6"><b>ProjectedFinishDate</b></div>
                <div class="col-md-6">{{ProjectedFinishDate}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6"><b>ActualStartDate</b></div>
                <div class="col-md-6">{{ActualStartDate}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6"><b>ActualFinishDate</b></div>
                <div class="col-md-6">{{ActualFinishDate}}</div>
            </div>
        </div><!-- dates -->
        <hr>
        <div ng-include="'views/categories/categoriesModal.html'"></div>

        <div class="col-md-6 main-category">
            <h4 class="text-center">Main Category &nbsp;<span class="btn btn-success"   data-toggle="modal" data-target="#categoryModal"><i class="fa fa-plus"></i></span></h4>
            <div class="main-category-child" ng-repeat="c in Categories">
            <!-- Start of 1 Project -->
                <a href="javascript:void(0)">
                    <div class="panel-heading nth-1" data-toggle="collapse" data-parent="#accordion" data-target="#{{c.CategoryId}}">
                        <h4 class="panel-title">
                          <span>{{c.CategoryName}}</span>
                          <span class="pull-right btn btn-success">Add Sub Cat</span>
                          <br><br>
                        </h4>
                    </div>
                </a>
                <div id="{{c.CategoryId}}" class="panel-collapse collapse">
                    <div class="panel-body" style="word-wrap: break-word;">
                        <dl>
                            <dt>Category Name:</dt>
                            <dd>{{c.CategoryName}}</dd>
                            <dt>Description:</dt>
                            <dd>{{c.Description}}</dd>
                            <dt>Budget Amount:</dt>
                            <dd>{{c.BudgetAmount}}</dd>
                            <dt>Actual Amount:</dt>
                            <dd>{{c.ActualAmount}}</dd>
                            <dt>Percentage Complete:</dt>
                            <dd>{{c.PercentCompleted}}</dd>
                            <dt>Variance Amount:</dt>
                            <dd>{{c.VarianceAmount}}</dd>
                        </dl>
                    </div>
                </div>
            </div><!-- End of 1 Main Category -->

        </div>
        <div class="col-md-6">
            <h4 class="text-center">Sub Category</h4>
            <div class="main-category-child">
            <!-- Start of 2 Project -->
                <a href="javascript:void(0)">
                    <div class="panel-heading nth-1" data-toggle="collapse" data-parent="#accordion" data-target="#3">
                        <h4 class="panel-title">
                          <span>Sub Category of 1</span>
                          <span class="pull-right btn btn-success">Add Sub Cat</span>
                          <br><br>
                        </h4>
                    </div>
                </a>
                <div id="3" class="panel-collapse collapse">
                    <div class="panel-body" style="word-wrap: break-word;">
                        <dl>
                            <dt>Sub Category Name:</dt>
                            <dd></dd>
                            <dt>Description:</dt>
                            <dd></dd>
                            <dt>Budget Amount:</dt>
                            <dd></dd>
                            <dt>Actual Amount:</dt>
                            <dd></dd>
                            <dt>Percentage Complete:</dt>
                            <dd></dd>
                            <dt>Variance Amount:</dt>
                            <dd></dd>
                        </dl>
                    </div>
                </div>
            </div><!-- End of 2 Main Category -->
        </div>

        <div class="clearfix"></div>

        <div class="col-md-6">
            <h4 class="text-center">Quotes</h4>
            <h5>Quote Detail</h5>
            <dl>
                <dt>Part #:</dt>
                <dd></dd>
                <dt>Part Description:</dt>
                <dd></dd>
                <dt>Actual Amount:</dt>
                <dd></dd>
                <dt>Unit Price:</dt>
                <dd></dd>
                <dt>Notes:</dt>
                <dd></dd>
            </dl>
            <br>
            <h5>Area</h5>
            <dl>
                <dt>Room:</dt>
                <dd></dd>
                <dt>Square Footage:</dt>
                <dd></dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h4 class="text-center">Invoices</h4>
            <div>
            <!-- Start of 1 Project -->
                <a href="javascript:void(0)">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <span>Title</span>
                        </h4>
                    </div>
                </a>
                <div class="panel-collapse collapse">
                    <div class="panel-body" style="word-wrap: break-word;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sunt velit harum natus quis consequatur aut voluptatibus. Labore nemo vel debitis sint temporibus quod, aspernatur officiis dicta accusamus sapiente culpa, aliquid architecto, voluptatem quasi, blanditiis! Sunt dignissimos iusto dolore. Necessitatibus eum non eaque optio.
                    </div>
                </div>
            </div><!-- End of 1 Invoice -->
        </div>

    </section><!-- /.content -->
</aside><!-- /.right-side -->
